---
import Toggle from "./Toggle.astro";
const { title, setId, setCount, type, rarity } = Astro.props;
const img = "https://www.pokemon.com/static-assets/content-assets/cms2/img/cards/web/XY0/XY0_EN_" + setId + ".png";
---
<style>
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px 5px 0 0;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }

    .main-image {
        width: 100%;
        height: 100%;
    }
</style>
<div class="card">
    <img class="main-image" src={img} alt="Pokemon Card Image">
    <div class="container">
        <h4><b>{title}</b></h4>
        <p>{type} {rarity} {setId}/{setCount}</p>
        <Toggle></Toggle>

    </div>
</div>